<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.xlx.speech.voiceread">

  <queries>
     <intent>
         <action android:name="android.intent.action.MAIN" />
     </intent>
     <!-- google -->
     <package android:name="com.google.android.gms" />
     <package android:name="com.android.vending" />
     <!-- freeme -->
     <package android:name="com.android.creator" />
     <!-- zte -->
     <package android:name="com.mdid.msa" />
     <!-- samsung -->
     <package android:name="com.samsung.android.deviceidservice" />
     <!-- coolpad -->
     <package android:name="com.coolpad.deviceidsupport" />
     <!-- oppo -->
     <package android:name="com.heytap.openid" />
     <!-- huawei -->
     <package android:name="com.huawei.hwid" />
     <package android:name="com.huawei.hwid.tv" />
     <package android:name="com.huawei.hms" />
     <!-- asus -->
     <package android:name="com.asus.msa.SupplementaryDID" />
     <!-- lenovo -->
     <package android:name="com.zui.deviceidservice" />
</queries>

  <application 
    android:usesCleartextTraffic="true"/>

</manifest>
